*{
	font-family: "JetBrainsMono Nerd Font";
	font-weight: 400;
	border-radius: 0;
	border: none;
	background: #000000;
}

#workspaces button{
	font-size: 14px;
	color: #888888;
}

#workspaces button.active {
	color: #ffffff;
	border: 2px solid #555555;
}

#workspaces button:hover {
	color: #ffffff;
}

#window {
	color: #ffffff;
}

#pulseaudio {
	margin-right: 24px;
	color: #ffffff;
}

#clock
{
	margin-right: 16px;
	color: #ffffff;
}
